[user]
  name = Jacky Alciné
  signingKey = yo@jacky.wtf

[color]
  branch = true
  diff = true
  grep = true
  pager = true
  status = true
  ui = always

[push]
  default = tracking

[merge]
  tool = nvim
  stat = true
  log = true
  ff = true
  conflictStyle = diff3
  defaultToUpstream = true
  verbosity = 3

[mergetool]
  prompt = false

[mergetool.nvim]
  cmd = nvim -d -o $LOCAL $MERGED

[grep]
  linenumber = true

[format]
  signoff = true

[core]
  whitespace = -trailing-space,-indent-with-non-tab,-tab-in-indent
  editor = nvim
  pager = most
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes

[url "git@heroku.com:"]
  insteadOf = hrku:
  insteadOf = heroku:

[url "git@github.com:"]
  insteadOf = gh:
  insteadOf = ghub:
  insteadOf = github:
  insteadOf = https://github.com/
  insteadOf = http://github.com/

[url "git@git.jacky.wtf:"]
  insteadOf = me:
  insteadOf = http://git.jacky.wtf/
  insteadOf = https://jacky.wtf/a/git/

[log]
  date = relative

[url "git@github.com:jalcine/"]
  insteadOf = ghme:

[alias]
  submod = submodule
  changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
  short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
  changelog = log --pretty=format:\" * %s\"
  shortnocolor = log --pretty= format:\"%h %cr %cn %s\"
  diverges = !bash -c 'diff -u <(git rev-list --first-parent "${1}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
  d = diff
  dc = diff --cached
  dis = diff --word-diff=color --word-diff-regex="[^[:space:],]+"
  last = diff HEAD^
  unstage = reset HEAD
  uncommit = reset --soft HEAD^
  filelog = log -u
  mt = mergetool
  ss = stash
  sl = stash list
  sa = stash apply
  sd = stash drop
  l = log -18 --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
  ll = log --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
  gl = log -12 --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(black bold)(by %an)%Creset%C(yellow bold)%d%Creset%n'
  gll = log --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(black bold)(%cr by %an)%Creset%C(yellow bold)%d%Creset%n'
  pff = pull --ff-only
  pmo = pull --no-ff
  puhs = push
  pus = push
  up = merge --ff-only
  join = merge --no-ff
  ci = commit
  cm = commit -m
  re = remote
  rb = rebase
  rbm = rebase master
  rbd = rebase develop
  currentbranch = rev-parse --abbrev-ref HEAD
  wdiff = diff --color-words
  undo-commit = reset --soft HEAD^
  clean-merge = merge --ff-only
  news = log -p HEAD@{1}..HEAD@{0}
  restore = checkout HEAD --

[github]
  user = jalcine

[i18n]
  commitencoding = utf-8

[ghi "highlight"]
  style = colorful

[ghi]
  edtior = nvim

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[include]
  path = ~/.gitconfig.local

[hub]
  protocol = git

[column]
  ui = always

[commit]
	template = ~/.gitcommitmessage
[gc]
  auto = 1

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
